.container {
    display: flex;
}

.side-container {
    padding: 20px 0;
    width: 50px;
    margin-left: 3rem;

}

.side-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.header-container {
    padding: 25px 0;
    display: flex;
    gap: 8rem;
    width: 90%;
    margin: auto;
}

.search-input > form {
    position: relative;
}

.search-input > form > i {
    position: absolute;
    color: #EFEEE040;
    top: 0;
    bottom: 0;
    transform: translate(50%, 27%);
}

.search-input > form > input {
    padding: 8px 35px;
    background: transparent;
    outline: 0;
    border: 0;
    color: #EFEEE040;
    font-weight: 600;
    letter-spacing: 1px;
}

.search-input > form > input::placeholder {
    color: #EFEEE040;
    font-weight: 600;
    letter-spacing: 1px;
}

.logo {
    padding-bottom: 20px;
}

.logo > img {
    cursor: pointer;
}

.play-icon {
    margin-bottom: 3rem;
}

.play-icon, .profile-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 3rem;
    background: #1A1E1F;
    padding: 25px;
    border-radius: 50px;
}

.play-icon > i, .profile-icon > i {
    font-size: 17px;
    color: #EFEEE040;
    cursor: pointer;
}

.banner {
    background-color: #609EAF;
    border-radius: 50px;
    width: 60%;
}

.charts {
    width: 40%;
}

.right-content {
    width: 40%;
    padding: 40px 0 0 40px;
}

.left-content {
    /* background: url(/public/assets/artist.png);
    background-size: cover; */
    width: 60%;
}

.right-content > p:nth-child(1) {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
}

.right-content > h2 {
    color: #fff;
    margin: 5rem 0 6px 0;
    font-size: 35px;
}

.right-content > p:nth-child(3) {
    margin: 0 0 3rem 0;
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
}

.right-content > span {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.right-content > span > img {
    width: 100px;
}

.right-content > span > span {
    display: flex;
    align-items: center;
}

.right-content > span > span > i {
    color: #fff;
    font-size: 20px;
    margin-right: 13px;
}

.right-content > span > span > p {
    color: #fff;
    font-size: 18px;
}

.left-content > img {
    width: 100%;
}

.banner-content {
    background: url(/public/assets/pattern.svg);
    background-size: cover;
    clip-path: circle(65%);
    background-position: right;
    background-repeat: no-repeat;
    /* padding: 40px; */
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
}

.top-content {
    display: flex;
    gap: 3rem;
    width: 90%;
    margin: auto;
}

.charts > h4, .new-release > h4, .popular > h4 {
    color: #fff;
    margin-top: 0;
    font-size: 20px;
}

.album {
    background: #1A1E1F;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 15px 0;
}

.album > img {
    width: 60px;
    margin-right: 10px;
}

.album > img, .album > span:nth-child(3) {
    flex-grow: 1;
}

.album > span:nth-child(2) {
    flex-grow: 10;
}

.album > span:nth-child(2) > p:nth-child(1) {
    margin: 0 0 6px 0;
    color: #fff;
    font-size: 15px;
}

.album > span:nth-child(2) > p:nth-child(2) {
    margin: 0 0 6px 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
}

.album > span:nth-child(2) > p:nth-child(3) {
    margin: 0 0 6px 0;
    color: #fff;
    font-size: 12px;
}

.album > span:nth-child(3) {
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 15px;
    height: 37px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.album > span:nth-child(3) > i {
    color: #FACD66;
    font-size: 17px;
}

.down-content {
    width: 90%;
    margin: 3rem auto 0 auto;
}

.cover {
    width: 15%;
}

.cover > img {
    width: 100%;
    border-radius: 20px;
}

.cover > p:nth-child(2) {
    margin: 5px 0;
    font-size: 13px;
    color: #fff;
}

.cover > p:nth-child(3) {
    margin: 0;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

.release-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.popular {
    margin-top: 2rem;
}

.popular > .release-container{
    flex-direction: row-reverse;
}

.footer-container {
    position: fixed;
    /* top: 0; */
    right: 0;
    left: 0;
    bottom: 0;
    backdrop-filter: blur(17px) saturate(174%);
    background-color: rgba(48, 48, 48, 0.7);
    border-top: 1px solid rgba(255, 255, 255, 0.125);
}

.footer {
    width: 90%;
    margin: auto;
    display: flex;
    padding: 20px 0 0 0;
    align-items: center;
    justify-content: space-between;
}

.player {
    display: flex;
    /* align-items: center; */
    cursor: pointer;
}

.player > img {
    width: 70px;
}

.player > span > p:nth-child(1) {
    margin: 0 0 4px 0;
    color: #fff;
    font-weight: 600;
}

.player > span > p:nth-child(2) {
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
}