.side-container {
    /* background: #041f40; */
    width: 70px;
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(4, 31, 64, 0.75);
    border-right: 1px solid rgba(255, 255, 255, 0.125);
}

.side-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
}

.logo > i {
    color: #fff;
    cursor: pointer;
}

.task-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 3rem;
}

.task-icon > i {
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.profile-img > img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}